.sidebar{
    background-color:#16171C;
    width:200px;
    height:100%;
    text-align: start;
}

.lists{
    >ul{
        >li{
            margin-bottom:5px;
            font-size:14px;
            color:#A5A9BA;
            padding-left:40px;
        }
    }
    .navigation{
        margin-bottom: 80px;
    }
}



