.field {
	width: 70%;
	height: 6vh;
	border-radius: 46px;
	font-weight: 700;
	padding: 10px;
	background-color: #d9d9d9;
	color: #827979;
}

.field::placeholder {
	color: #827979;
}

.field :focus{
	background-color: red;
	
}
