@keyframes opacity {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.success {
	min-width: 168px;
	min-height: 40px;
	background-color: green;
	position: absolute;
	color: #fff;
	font-size: 12px;
	top: 0;
	left: 0;
	animation: opacity 4s;
	-webkit-animation-fill-mode: forwards;
}
