.slider {
	@apply relative mx-auto mt-8;
	max-width: 1200px;

	.slide {
		@apply relative h-64 rounded-3xl overflow-hidden shadow-xl flex items-end;

		&::before {
			content: "";
			@apply absolute inset-0 z-0;
			background-image: inherit;
			background-size: cover;
			background-position: center;
			filter: brightness(0.6);
		}

		.content {
			@apply relative z-2 p-8 h-full w-60 border-none flex flex-col justify-end;
			background-image: linear-gradient(
				to top right,
				#020610 10%,
				#050b1c 20%,
				#091839 30%,
				transparent 55%
			);
			.heading {
				@apply text-white uppercase text-xl font-semibold mb-1 text-shadow truncate;
			}

			.subHeading {
				@apply text-gray-300 font-medium uppercase mb-4 text-shadow;
			}

			.button {
				@apply btn-primary p-2 w-20 rounded-image;
			}
		}
	}
}

