.container {
	margin: 0 auto;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 800px;
	height: 440px;
	border-radius: 10px;
	background-color: #851b1b;
	text-align: center;
	position: relative;
}
.wrapper {
	font-size: 35px;
	top: 0;
	right: 45%;
	position: absolute;
}

.center {
	mx-width: 180px;
}

.center input {
	width: 70%;
	height: 7vh;

	margin-bottom: 60px;
}

.bottom {
	min-width: 6vh;
	position: absolute;
	bottom: 0;
	left: 45%;
}

.ellipse_left {
	position: absolute;
	left: 70px;
	bottom: 40px;
}

.ellipse_right {
	position: absolute;
	right: 70px;
	top: 40px;
}
