.container {
	width: 100%;
	height: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: #851b1b;
	height: 60%;
	width: 40%;
	border-radius: 10px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.wrapper {
	font-size: 35px;
	margin-bottom: 30px;
}

.center {
	mx-width: 180px;
}

.center input {
	margin-bottom: 60px;
}

.bottom button {
	width: 150px;
}

.ellipse_left {
	position: absolute;
	left: 220px;
	bottom: 40px;
}

.ellipse_right {
	position: absolute;
	right: 210px;
	top: 40px;
}
