@keyframes bg {
	from {
		opacity: 1;
	}
	to {
		opacity: 0.33;
	}
}

.container {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
}

.popular {
	display: flex;
	justify-content: space-between;
	width: 88%;
	margin: 0 auto;
	margin-top: 50px;
}

.popular div {
	border-radius: 20px;
}

.movie {
	width: 1032px;
	height: 266px;
	background-color: #fff;
}

.actor {
	width: 287px;
	height: 266px;
	background-color: #fff;
}

.movie:hover,
.actor:hover {
	animation: bg 0.5s;
	-webkit-animation-fill-mode: forwards;
}
